.accordion-item {
    margin: 1rem 2rem;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0px 20px 40px -20px hsl(229, 6%, 66%);
    border: 2px solid #e7e7e7;
    border-radius: 4px;
}

.accordion-title:hover {
    background-color: #ececec;
}

.accordion-item.even .accordion-title{
    border-top: 3px solid red;
}

.accordion-item.odd .accordion-title{
    border-top: 3px solid blue;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
}

.accordion-content {
    background-color: #39b9d2;
}