.App-header {
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-logo {
    width: 100px;
    pointer-events: none;
}

.user-name {
    margin-right: 0.5rem;
}